/* IMPORTS --------------------------------------------------------- IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
/* RESET ------------------------------------------------------------- RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* CONTENT --------------------------------------------------------- CONTENT */
header {
  background-color: #ef5350;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-shadow: 0 2px 4px rgba(22, 22, 22, 0.363), 0 5px 10px rgba(54, 54, 54, 0.212);
          box-shadow: 0 2px 4px rgba(22, 22, 22, 0.363), 0 5px 10px rgba(54, 54, 54, 0.212);
  position: fixed;
  width: 100vw;
  padding: 15px 15px 20px 15px;
  z-index: 100;
}

#logo {
  -webkit-filter: drop-shadow(2px 5px rgba(22, 22, 22, 0.363));
          filter: drop-shadow(2px 5px rgba(22, 22, 22, 0.363));
}

#type-filters {
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#type-filters::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.type-filter {
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
}

main {
  width: 100vw;
  padding-top: 160px;
}

.my-card {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  border-radius: 20px;
}

.my-card:hover {
  -webkit-box-shadow: 0 2px 4px rgba(32, 32, 32, 0.11), 0 5px 15px rgba(151, 151, 151, 0.26);
          box-shadow: 0 2px 4px rgba(32, 32, 32, 0.11), 0 5px 15px rgba(151, 151, 151, 0.26);
}

.my-title {
  margin: 0;
}

.secondary-text {
  color: #a5a5a5;
}

.type {
  border-radius: 50px;
  font-size: 0.7rem;
}

.my-modal-body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.my-modal-body::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  padding: 2.5rem;
  margin-bottom: 25px;
}

.bg-land {
  background: url(https://cutewallpaper.org/21/pokemon-grass-background/Pokemon-forest-by-BlazingIfrit-Fur-Affinity-dot-net.jpg);
}

.bg-water {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83ohf3-7f911e73-0d36-4f31-94f9-e620fd0163c6.png/v1/fill/w_800,h_480,q_80,strp/pokemon_x_and_y_battle_background_4_by_phoenixoflight92_d83ohf3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00ODAiLCJwYXRoIjoiXC9mXC8yZmIyODIxYS0xNDA2LTRhMWQtOWIwNC02NjY4ZjI3OGU5NDRcL2Q4M29oZjMtN2Y5MTFlNzMtMGQzNi00ZjMxLTk0ZjktZTYyMGZkMDE2M2M2LnBuZyIsIndpZHRoIjoiPD04MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.R69jPvW1dAKWyHhWFt4On559i5z54sO7Kco6ddrThuE);
}

.bg-sky {
  background: url(https://cutewallpaper.org/21/pokemon-sky-background/vp-Pokemon-Thread-35278085.png);
}

.bg-ground {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83tnmo-b19278a2-4c9e-40ed-a230-4f7a00435824.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMmZiMjgyMWEtMTQwNi00YTFkLTliMDQtNjY2OGYyNzhlOTQ0XC9kODN0bm1vLWIxOTI3OGEyLTRjOWUtNDBlZC1hMjMwLTRmN2EwMDQzNTgyNC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.OdMc6eA-jxSZrPoOXBT6_3kWqqI0dg2bhC6ZbwdDQeY);
}

.bg-ice {
  background: url(https://pbs.twimg.com/media/CPr1FQiWIAAAAQ7.jpg:large);
}

#pokemon-detail-image {
  -webkit-filter: drop-shadow(0px 15px 12px rgba(0, 0, 0, 0.836));
          filter: drop-shadow(0px 15px 12px rgba(0, 0, 0, 0.836));
}

#scroll-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e96b69;
  -webkit-box-shadow: 0 2px 4px rgba(41, 41, 41, 0.356), 0 5px 10px rgba(77, 77, 77, 0.226);
          box-shadow: 0 2px 4px rgba(41, 41, 41, 0.356), 0 5px 10px rgba(77, 77, 77, 0.226);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

#scroll-top:hover {
  background-color: #ef5350;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#scroll-top-icon {
  font-size: 2rem;
  color: white;
}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* ANIMATIONS --------------------------------------------------- ANIMATIONS */
.float {
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* RESPONSIVENESS ------------------------------------------- RESPONSIVENESS */
@media all and (max-width: 1199px) {
  html,
  body {
    font-size: 20px;
  }
}

@media all and (max-width: 991px) {
  html,
  body {
    font-size: 18px;
  }
}

@media all and (max-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
  #logo {
    height: 100px;
  }
}

@media all and (max-width: 575px) {
  html,
  body {
    font-size: 16px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  #logo {
    height: 100px;
  }
  .type {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */